.App {
  color:white;
  font-style: italic;
}
.Heading{
  text-align: center;
  background-color: rgb(84, 187, 84);
  font-style: italic;
}
.BoardName{
  margin-top: 0em;
  background-color: rgb(84, 187, 84);
  padding-left: 1em;
  color:  white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.List{
  display: flex;
  color: #172b4d;
  flex-wrap: wrap;
}

.listItems{
  background-color: #ebecf0;
  margin: 2em;
}
.listItems h1{
  padding-left: 0.5em;
}
.cardItems{
  flex-basis: 15em;
  background-color: white;
  font-size: 1em;
  border-radius: 0.5em;
  margin: 1em 1em;
  padding: 1em 1em;
  resize: none;
  color: #172b4d;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.addList{
  width: 15em;
  margin-bottom: 2em;
  margin-left: 3em;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #1f4068;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  outline: none;
}
.addList:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  outline: none;
  cursor: pointer;
  }
.boards{
  display: flex;
  justify-content: space-around;
}

.personalBoards{
  margin-left: 1.4em;
  font-style: italic;
  color: #172b4d;;
}

.boardItems{
  margin-left: 1em;
  height: 2em;
  width: 12em;
  font-size: 2em;
  font-style: italic;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #1f4068;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  outline: none;
  text-align: center;
}
.boardItems:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  outline: none;
  cursor: pointer;
  }

.active_class{
  margin: 2em;
}
.dashboard{
  display: flex;
  justify-content: center;
  margin: 2em;
}
 .dashboardButton{
  margin: 1% 44%;
  width: 10em;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #1f4068;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  outline: none;
  text-align: center;
 }
.dashboardButton:hover {
  background: #434343;
  letter-spacing: 0.5px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  outline: none;
  cursor: pointer;
  }
  .addCard{
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #1f4068;
  padding: 1em;
  margin-left: 1em;
  margin-bottom: 2em;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  outline: none;
  }
  .addCard:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    outline: none;
    cursor: pointer;
    }

.newList{
  width: 15em;
  background-color: white;
  font-size: 1em;
  margin-left: 3em;
  border-radius: 0.5em;
  padding: 1em 1em;
  resize: none;
}

.addListSubmitButton{
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #1f4068;
  padding: 1em;
  margin-left: 1em;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  outline: none;
}
.addListSubmitButton:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  outline: none;
  cursor: pointer;
  }

.newListBlock{
  display: flex;
  margin-bottom: 1em;
}
.cardHolder{
  display: flex;
}
.newCardHolder{
  display: flex;
}
.addCardSubmitButton{
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #1f4068;
  border-radius: 5px;
  border: none;
  transition: all 0.4s ease 0s;
  outline: none;
  margin: 1em 1em;
}
.addCardSubmitButton:hover {
  background: #434343;
  outline: none;
  cursor: pointer;
  }

  .newCardItems{
  flex-basis: 15em;
  background-color: white;
  font-size: 1em;
  border-radius: 0.5em;
  margin: 1em 1em;
  padding: 1em 1em;
  resize: none;
  }

.editButton{
  height: 2em;
  margin-top: 2em;
  margin-left: 1em;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #1f4068;
  padding: 1em;
  padding-bottom: 2em;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  outline: none;
}

.editButton:hover {
  background: #c50303;
  transition: all 0.4s ease 0s;
  outline: none;
  cursor: pointer;
  }

  .deleteButton{
    height: 2em;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #1f4068;
    padding: 1em;
    padding-bottom: 2em;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    outline: none;
  }

  .deleteButton:hover {
    background: #c50303;
    transition: all 0.4s ease 0s;
    outline: none;
    cursor: pointer;
    }